@model IEnumerable<Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Item List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border" style="table-layout: fixed;">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.SubCategoryId)
                    </th>
                    <th>                        
                    @Html.DisplayNameFor(m => m.Image)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                        <td style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.SubCategory.Name)
                    </td>
                    <td>
                        <img src="@item.Image" width="50" />
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
                }
            </table>
        }
        else
        {
            <p style="color:red">No items exists...</p>
        }
    </div>
</div>

