@model IndexViewModel 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@if (Model.Coupon.ToList().Count > 0)
{
    <div class="border">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.Coupon.Count(); i++)
            {
                if (i == 0) 
                {
                    <div class="carousel-item active">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgsrc" height="50" class="d-block w-100" />
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgsrc" height="50" class="d-block w-100" />
                    </div>
                }
            }
        </div>
    </div>

}

<br /><br />


     <div class="backgroundWhite container">
    
    <ul id="list-filters" class="menu-filter-list menu-inline text-center">
        <li class="active btn btn-secondary ml-1 mr-1" data-filter=".list-items">Show All</li>

              @foreach (var item in Model.Category)
              {
                  <li class="ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
              }
          </ul>


    @*<select id="list-filters" class="offset-5 menu-filter-list menu-inline text-center active btn btn-secondary">

    <option value=".list-items">Show All</option>

        @foreach (var item in Model.Category)
        {

            <option value=".@item.Name.Replace(" ",string.Empty)">@item.Name</option>
        }
    </select>
*@

          @foreach(var category in Model.Category) 
          {
              <div class="row" id="menu-wrapper">
                  <partial name="_ThumbnailAreaPartial" model="@Model.Item.Where(u=>u.Category.Name.Equals(category.Name))" />
              </div>
          }
      </div>



@* jquery *@ 

@section Scripts{ 
      <script src="https://code.jquery.com/jquery-3.3.1.js"
              integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
              crossorigin="anonymous"></script>

<script>

    var posts = $('.post');

    (function ($) {

            $("#list-filters li").click(function () {
                $("#list-filters li").removeClass('active btn btn-secondary');
            $(this).addClass('active btn btn-secondary');

            var selectedFilter = $(this).data("filter");

                $(".list-items").fadeOut();

            setTimeout(function () {
                $(selectedFilter).slideDown();
            }, 300);
        });


            //$("#list-filters").click(function () {



            //    var selectedFilter = $(this).val();

            //    $(".list-items").fadeOut();

            //    setTimeout(function () {
            //        $(selectedFilter).slideDown();
            //    }, 300);
            //});

    })(jQuery);
 
</script>
    }


